<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Java Agent Webapp</display-name>

	<!-- register servlet -->
	<servlet>
		<servlet-name>BlogFrontPage</servlet-name>
		<servlet-class>com.KeepinItSimpleApps.BlogFrontPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogFrontPage</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.KeepinItSimpleApps.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.KeepinItSimpleApps.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PutCommentServlet</servlet-name>
		<servlet-class>com.KeepinItSimpleApps.PutCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PutCommentServlet</servlet-name>
		<url-pattern>/putcomment</url-pattern>
	</servlet-mapping>
	
	<!-- mapping all .vm files to velocity servlets -->
	<servlet>
		<servlet-name>velocity</servlet-name>
		<servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
		<init-param>
			<param-name>org.apache.velocity.toolbox</param-name>
			<param-value>/WEB-INF/toolbox.xml</param-value>
		</init-param>

		<init-param>
			<param-name>org.apache.velocity.properties</param-name>
			<param-value>/WEB-INF/velocity.properties</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>velocity</servlet-name>
		<url-pattern>*.vm</url-pattern>
	</servlet-mapping>

</web-app>
